.musicList .musicItem {position:relative;overflow:hidden;padding:.06rem .1rem .07rem .1rem;border-bottom:1px solid #ddd;display:table;width:100%;box-sizing:border-box;}
.musicList .musicItem .imgBox,.musicList .musicItem .music-text {display:table-cell;vertical-align:middle;overflow:hidden;}
.musicList .musicItem .musicText {padding-left:.2rem;margin-right:.3rem;}
.musicList .musicItem .imgBox,.musicList .musicItem img {width:.5rem;height:.5rem;}
.musicList .musicItem .musicName {line-height:.2rem;display:block;font-size:.18rem;}
.musicList .musicItem .singer {display:block;margin-top:.07rem;}
.musicList .musicItem .delIcon {font-size:.22rem;position:absolute;right:0;top:50%;transform:translateY(-50%);margin-right:.1rem;}
.musicList.playing .musicText {color:#f00;}