    .musicList .musicItem {position:relative;overflow:hidden;padding:.06rem .1rem .07rem .1rem;border-bottom:1px solid #ddd;display:table;width:100%;box-sizing:border-box;}
    .musicList .musicItem .imgBox,.musicList .musicItem .music-text {display:table-cell;vertical-align:middle;overflow:hidden;}
    .musicList .musicItem .music-text {padding-left:.2rem;}
    .musicList .musicItem .imgBox,.musicList .musicItem img {width:.5rem;height:.5rem;}
    .musicList .musicItem .music-name {line-height:.2rem;display:inline-block;width:65%;font-size:.18rem;}
    .musicList .musicItem .del-icon {font-size:.22rem;float:right;margin-top:.13rem;}