    .find {flex: 1;}
    .find .searchInput {padding:.2rem;background-color:#e6e6e6;}
    .find .inputCon {position:relative;height:.35rem;}
    .find .inputCon .icon {font-size:.24rem;line-height:.24rem;position:absolute;left:.07rem;top:.07rem;color:#aaa;}
    .find .inputCon .text {height:100%;display:block;padding:0 .34rem;width:100%;box-sizing:border-box;font-size:.14rem;line-height:.35rem;border:0;background-color:#fff;}
    .find .inputCon .text.active {width:78%;}
    .find .inputCon .clearText {font-size:.22rem;color:#bfbfbf;position:absolute;right:26%;top:.04rem;}
    .find .inputCon .closeList {position:absolute;right:7%;top:0;font-size:.18rem;line-height:.35rem;display:block;}
    .find .hot {padding:.1rem;}
    .find .keywords {overflow:hidden;margin-top:.1rem;}
    .find .keywords span {display:block;float:left;text-align:center;width:28%;padding:.05rem;border:1px solid gray;margin-right:8%;margin-bottom:.1rem;border-radius:.2rem;cursor:pointer;box-sizing:border-box;}
    .find .keywords span:nth-of-type(3n) {margin-right:0;}
    .find .searchList {}
    .find .searchList li {height:.5rem;line-height:.5rem;font-size:.16rem;padding:0 .72rem;position:relative;}
    .find .searchList .time {font-size:.23rem;position:absolute;left:.26rem;top:0;}
    .find .searchList .word {display:block;width:100%;}
    .find .searchList .clearIcon {font-size:.2rem;position:absolute;right:.28rem;top:0;}
    .find .searchList .tips {text-align:center;margin-top:.2rem;font-size:.14rem;padding:.10rem 0;}