  #root {height:100%;}
  #app {position:relative;overflow:hidden;background-color:#fff;min-height:100%;max-width:640px;margin:0 auto;font-size:.12rem;display:flex;flex-direction: column;height:100%;}
  .container {transition:left .3s;position: relative;left:0;}
  .container.right {left:60%;}